<div id="crudFragment" class="container">

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr class="success">
				<td>To be created</td>
				<td><input ng-model="documentToCreate.name"></div></td>
				<td>
					<button type="submit" ng-click="create()" class="btn btn-success">
						Create
					</button>
				</td>
			</tr>
		</tbody>
		<tbody ng-repeat="mission in existingDocuments">
			<tr ng-class="{info : editDocument===$index}" ng-click="toggleUpdateRow(mission, $index)">
				<td>{{mission._id}}</td>
				<td>{{mission.name}}</td>
				<td>
					<button type="submit" ng-click="delete(mission)" class="btn btn-danger">
						Delete
					</button>
				</td>
			</tr>
			<tr class="info" ng-if="editDocument===$index">
				<td></td>
				<td><input ng-model="documentToUpdate.name"></div></td>
				<td>
					<button type="submit" ng-click="update(mission)" class="btn btn-info">
						Update
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	
</div>